@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

$black: rgba(0, 0, 0, .8);
$white: rgba(255, 255, 255, .8);
$red: #F8D7DA;
$yellow: #FFF3CD;
$green: #D4EDDA;
$blue: #CCE5FF;
$grey: #E7E8EA;

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }